extends layout-email

block body
    .container
        .msg
            .img
            p
                | Bienvenido #{name}, por favor confirma tu cuenta para tener accesso a más funcionalidades en cubicados.
            p   ¡Haz clic en el boton de abajo para unirte a la comunidad de constructores!
            form(action=`https://www.cubicados.cl/registro/activarcuenta/${token}`, id='formEmail' method='get')
                input(type='hidden', name='token', value=`${token}`)
                button.button-28(role='button' type="submit") Verificar Email
            p(style='font-size: 15px;') Si tienes dudas consulta en nuestra la pagina

