extends layout

block content
    .row
        .col.m12.center-align
            img(src='/images/wpplus.png', height=100)
    .row
        .col.md3
            i(class='material-icons' style='font-size: 80px; color: red; margin-top: 10px;') cancel 
        .col.md3   
            h3 #{step}
    block step
    block actions